
 /* color text */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800);
 @import url(https://fonts.googleapis.com/css?family=Exo+2:400,100);
 html{
  padding: 0 !important;
  overflow-y: scroll !important;
 }

.doubleText{
  // text-transform: uppercase;
  // background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  // -webkit-background-clip: text;
  // -webkit-text-stroke: 4px transparent;
  color: #00ff0c;
  
}

  // font-weight: bold;
  // text-transform: uppercase;
  // color: rgb(70, 157, 11);
  // text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  // 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  
  
  // text-shadow: 0 4px 0 rgb(121, 243, 55), 0 8px 3px rgba(46, 208, 5, 0.7);

.doubleText2{
  font-weight: bold;
  font-family: Helvetica;
  text-transform: uppercase;
  color: rgb(48, 179, 0);
  text-shadow: 0 4px 0 rgb(121, 243, 55), 0 8px 3px rgba(46, 208, 5, 0.7);

}
.doubleText3{
  color: rgb(143, 243, 93);
}


 /* box shadow */

.box1 {
  box-shadow: 0px 1px 2px  #0c9229, 
  4px 4px 8px #0ac920, 
  4px 4px 8px  #00ff0d, 
  2px 4px 8px #b300ff,
  2px 8px 16px #dd00ff,;
  border-radius: 2%;    

}
.box1:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(45, 163, 39, 0.7);
}
   /*--------------------------*/ 
.sticky {
  position: sticky;
}

.border1{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #C9D646;
  border-radius: 130px 130px 0px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  
}

@media (max-width: 1024px){
.border1{
    border-radius: 100px 100px 0px 0px;
    padding: 0;
}
}

.button {
  // color: #fff;
  // background-color: #04AA6D;
  // border: none;
  // border-radius: 15px;
  box-shadow: 0 5px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.border2{
  filter: drop-shadow(0 0 0.75rem rgb(20, 20, 20));
}